<div class="container account-page">
  <div data-hook="account_my_wishlists" class="account-page-orders" id="account-my-wishlists">
    <h3 class="text-uppercase spree-mb-medium spree-mt-medium spree-header"><%= @wishlist.name %></h3>

    <% if @wishlist.user == spree_current_user %>
      <div class="my-4"><%= render partial: 'accessibility' %></div>
    <% end %>

    <% if @wishlist.wished_products.size > 0 %>
      <table>
        <thead class="active">
          <tr>
            <th class="text-uppercase text-secondary"><%= Spree.t(:image) %></th>
            <th class="text-uppercase text-secondary"><%= Spree.t(:availability) %></th>
            <th class="text-uppercase text-secondary"><%= Spree.t(:date_added) %></th>
            <th class="text-uppercase text-secondary"><%= Spree.t(:price) %></th>
            <th class="text-uppercase text-secondary actions"><%= Spree.t(:action) %></th>
          </tr>
        </thead>
        <tbody>
          <% @wishlist.wished_products.each do |wish|
              variant = wish.variant
              product = variant.product
              url = spree.product_path(product) %>
            <tr>
              <td>
                <%= link_to url do %>
                  <%= small_image(product) %></td>
                <% end %>
              <td><%= variant.can_supply? ? Spree.t(:in_stock) : Spree.t(:out_of_stock) %></td>
              <td><%= wish.created_at.strftime '%m/%d/%Y' %></td>
              <td><%= display_price(variant) %></td>
              <td class="actions">
                <% if @wishlist.user == spree_current_user %>
                  <%= link_to Spree.t(:remove), wish, method: :delete, class: 'btn btn-danger w-100' %>

                  <% if spree_current_user.wishlists.count > 1 %>
                    <%= form_for wish do |f| %>
                      <%= f.select :wishlist_id, spree_current_user.wishlists.map{ |wl| [wl.name, wl.id] }, {}, { class: 'form-control my-3' } %>
                      <%= f.submit Spree.t(:move), class: 'btn btn-primary w-100' %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= Spree.t(:your_wishlist_is_empty) %>
    <% end %>

    <div class="mt-4">
      <% if @wishlist.user == spree_current_user %>
        <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path, class: 'btn btn-primary btn-sm' %>
        <%= link_to Spree.t(:edit_wishlist), edit_wishlist_path(@wishlist), class: 'btn btn-secondary btn-sm' %>
      <% end %>
    </div>
    <br>
  </div>
</div>